.err {
  visibility: hidden;
  min-width: 250px;
  background-color: #f0776c;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 38%;
  top: 30px;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

.ok {
  min-width: 250px;
  background-color: #53e3a6;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 38%;
  top: 30px;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
